/*******************/
/*****  TAGS   *****/
/*******************/

body {
    color: #ccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: black;
    margin-bottom: 80px;
}

/* Body background pattern credited to Michal at toptal.com Subtle Patterns. */

/* Contact form fields */
textarea {
    width: 99%;
    margin: 4px 0 10px;
    color: #aad;
    border: 2px solid #aad;
    transition: 0.25s;
    background-color: #001;
}

textarea:hover {
    border-color: #4D4EBF;
}

/* Disallow changing the size of the contact boxes... */
textarea.name,
textarea.email {
    resize: none;
}

/* Links; <3 transitions */
a {
    transition: .3s;
}

a:link,
a:visited {
    color: #888;
    text-decoration: none;
}

a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #6363BF;
    position: relative;
    transition: .3s;
}

a:hover:after {
    width: 100%;
}

a:active {
    color: #000;
}

/*******************/
/***** CLASSES *****/
/*******************/

/* .... MAIN CONTENT CLASSES .... */

.main-content {
    margin-top: 10px;
    padding: 10px;
    background-color: #343A40;
}

.main-content-label {
    color: #ddd;
}

#bgDiv {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index: 0;
}

/* Thanks for css-tricks.com for the inspiration for the hr decoration. But then Haydn told us hrs suck, so I made this one instead. It doesn't deal with the border on an existing div - it's just its own div so I can set its width and do other fun stuff with it. Gradients are easier to do without having to use webkits and stuff. */
.better-hr {
    margin: 10px 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #6363BF, #424280, #6363BF);
    ;
}

.profile-pic {
    width: 15%;
    float: left;
    margin: 0 10px 3px 0;
}

.portfolio-img {
    width: 160px;
    transition: .5s;
}
/* 
.portfolio-list {
    text-align: center;
} */

/* Hides underline */
.portfolio-link:after {
    display: none;
}

/*****************************/

.portfolio-box {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    border: solid #777 2px;
    background-color: #325;
    margin-bottom: 4px;
}

.label {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.1rem;
    letter-spacing: 1px;
    color: #eee;
    background-color: #325;
    width: 100%;
    text-align: center;
}

/*****************************/

/* That Submit button though */
button.submit {
    background-color: #4D4EBF;
    border: 4px solid #6567FF;
    color: #ddd;
    padding: 12px 26px;
    font-size: 1.25rem;
    border-radius: 10px;
}

button.submit:hover {
    transition: .25s;
    border: 4px solid #1A1A40;
}

button.submit:active {
    transition: none;
    border: 4px solid #222242;
    background-color: #424280;
}

/* .... FOOTER CLASSES .... */

.footer {
    background-color: #343A40;
    color: #bbb;
    font-size: 0.7rem;
    border-top: 8px solid #4D4EBF;
    height: 50px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/*********************/
/***** ANIMATION *****/
/*********************/

/* ----------------------------------------------
 * Generated by Animista on 2019-6-9 15:23:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.pulsate-bck:hover {
    -webkit-animation: pulsate-bck 1.2s ease-in-out infinite both;
    animation: pulsate-bck 1.2s ease-in-out infinite both;
}

/*
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}